div.editable:not(.input) {
    cursor: pointer !important;
    min-width: 3em;

    &:hover {
        border-bottom: var(--bs-border-color) var(--bs-border-width) dotted;

        &:not(.input-group-text) {
            margin-bottom: calc(-1 * var(--bs-border-width));
        }
    }

    &>svg.icon {
        visibility: hidden;
        color: var(--bs-border-color);
        width: 0.7em;
        height: 0.7em;
        margin-left: 0.25em;
    }

    &:hover>svg.icon {
        visibility: visible;
    }
}

input.editable,
.input.editable {
    font-size: inherit;
    font-weight: inherit;
    padding-top: 0;
    padding-bottom: 0;
}